absl-py==0.2.2
appdirs==1.4.3
argh==0.26.2
atari-py==0.1.1
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
docker==3.3.0
docker-pycreds==0.2.3
future==0.16.0
gym==0.9.4
gym-retro==0.5.4
h5py==2.7.0
html5lib==0.9999999
idna==2.6
kiwisolver==1.0.1
losswise==3.1
Markdown==2.6.11
matplotlib==2.2.2
mujoco-py==0.5.7
numpy==1.12.1
packaging==16.8
pandas==0.23.1
pathtools==0.1.2
Pillow==5.1.0
protobuf==3.5.2.post1
pyglet==1.2.4
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
redis==2.10.5
requests==2.14.2
-e git+https://github.com/openai/retro-contest.git@3cae0d0599f818fead1f16e008745f80cc0bbddb#egg=retro_contest_support&subdirectory=support
retrowrapper==0.2.0
six==1.10.0
tensorflow==0.12.1
tensorflow-tensorboard==1.5.1
urllib3==1.22
watchdog==0.8.3
websocket-client==0.47.0
Werkzeug==0.12.1
